<footer class="w-full flex text-stone-100 justify-center items-center flex-col bg-slate-800 py-3">
	<h3 class="">Kenz Books</h3>
	<p class="italic font-thin text-xs leading-6">Copyright: &copy; <em id="date"></em>KenzBookz 2023 </p>
</footer>