<h1>This is my index page</h1>

<% @articles.each do |article|%>
	<%= link_to article do %>
	<% if article.image.attached?%>
	<%= image_tag(article.image)%>
	<% end %>
	<h3><%= article.title%></h3>
	<% end %>
<% end %>
<br />
<%= link_to 'Create Article', new_article_path%>
