<div class="section-1">

<div class="text-center ">
	<h1 class="text-cyan-800 text-3xl font-extrabold">Articles</h1>
	<div class="line w-9 h-1 bg-orange-500"></div>
</div>

	<% if @articles.present?%>

	<div class="articles">
		<% @articles.each do |article|%>
		<div class="img-contain">
			<%= link_to article do %>
				<% if article.image.attached?%>
					<%= image_tag article.image, class: "img"%>
				<% end %>
					<h3><%= article.title%></h3>
			<% end %>
		</div>
	<% end %>
	</div>

	<% else %>

	<h2>No Article Found</h2>

	<% end %>

</div>
