/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body,
html {
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: #9e8f8f;
}

ul {
  list-style: none;
}

header {
  width: 100vw;
  height: 80vh;
  background: rgba(0, 0, 0, 0.65) url("istockphoto-1139789480-170667a.jpg");
  background-blend-mode: darken;
  background-position: bottom;
  background-size: cover;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.header-content {
  color: whitesmoke;
  text-align: center;
  margin-bottom: 100px;
}

.header-content h2 {
  font-size: 4vmin;
}

.header-content h1 {
  font-size: 7vmin;
  margin-top: 10px;
  margin-bottom: 30px;
  text-transform: uppercase;
}

.line {
  width: 150px;
  height: 4px;
  background: #fc036b;
  margin: 10px auto;
}

.nav {
  width: 100%;
  color: #fc036b;
  background-color: #fc036b;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  color: whitesmoke;
}

.nav-links {
  display: flex;
  align-items: center;
}

.in-link {
  color: whitesmoke;
  margin: 0 30px;
}

.section-1 {
  width: 80%;
  text-align: center;
  margin: 80px auto;
}

.title {
  text-align: center;
  font-size: 4vmin;
  color: blue;
}

.cat-contain {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.nav-link {
  text-decoration: none;
  padding: 5px;
  margin: 10px;
  color: whitesmoke;
  line-height: 50px;
  background: #c95555;
  border: 1ps solid #978383;
  border-radius: 5px;
}

.articles {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.img-contain {
  width: 300px;
  margin: 20px;
  text-align: center;
}

.img-contain .img {
  width: 100%;
  height: 200px;
}

.img-contain h3 {
  text-align: center;
  color: #000000;
  font-size: 4vmin;
}

.art-link {
  margin: 20px auto;
}

.form-center {
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 10px;
  height: 100%;
}

.check,
.actions {
  padding: 10px;
}

.center {
  margin: 150px auto;
  transform: traslate(-50%, -50%);
  width: 400px;
  background: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 10px;
  text-align: center;
}

.center h2 {
  text-align: center;
  font-size: 4vmin;
  text-transform: uppercase;
  margin: 20px 0;
  padding: 0 0 20px 0;
  border-bottom: 1px solid silver;
  letter-spacing: 1px;
}

.input {
  width: 80%;
  padding: 10px 20px;
  outline: none;
  font-weight: 400;
  border: none;
  border-bottom: 1px solid silver;
  font-size: 16px;
  letter-spacing: 1px;
  color: #030e24;
  background: transparent;
}

.form-group {
  padding-top: 10px;
}

.lab {
  font-style: italic;
  color: #d1d1d1;
}

select {
  width: 150px;
  /* height: 200px; */
  /* padding: 15px 20px; */
  font-size: 15px;
  font-weight: 600;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.btn {
  appearance: none;
  background-color: #2ea44f;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
}

.button-3:hover {
  background-color: #2c974b;
}

.c-s {
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
    rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
    rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
  margin: 20px;
}

.c-s img {
  width: 200px;
  height: 200px;
}
.show-img {
  margin: 15px;
}

.con-contain {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin: 15px;
}
.down {
  height: 30px;
}

.down-link {
  text-decoration: none;
  font-size: 50px;
  color: #fc036b;
}

.fill_form {
  width: 100%;
}
.text-area {
  width: 80%;
  height: 100px;
  border-radius: 10px;
}
.mr-sm-2,
.mr-sm-2:active  {
  border: 0;
  border-radius: 20px;
  height: 30px;
  width: 200px;
}

.shared-link {
  padding: 15px;
}

.notice-color {
  color: #c95555;
  font-style: italic;
  font-stretch: extra-condensed;
}

.btn-like {
  padding: 5px;
  color: #000000;
}

.comment-contain {
  margin: 0 auto;
  width: 50%;
  display: flex;
  justify-content: space-between;
  padding: 10px 15px;


}

.footer {
  width: 100%;
  display: flex;
  background-color: #000000;
  color: #fff;
  padding: 20px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.footer p {
  line-height: 25px;
}

@media(max-width: 620px) {
  .c-s {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
      rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
      rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
    margin: 20px;
  }
  .con-contain {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .center {
    margin-left: 10px;
    margin-right: 10px;
  }
}
